body {
    background-image: url('PSC_Background.jpg') ;
    background-size: cover;    
    font-family:  Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: rgb(235, 239, 109);
    margin: 0;
}
.container {
    background: #100c0c;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    width: 350px;
    box-shadow: 0 5px 15px rgba(201, 81, 81, 0.3);
}
input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    width: 90%;
    border: none;
    border-radius: 5px;
}
button {
    padding: 10px 20px;
    border: none;
    background: #18b057;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: 0.3s ease;
}
button:hover {
    background: #4eda24;
}
.feedback, .change-box, .final-message {
    margin-top: 20px;
    font-weight: bold;
}
.change-box {
    display: none;
}
.change-buttons button {
    background: #05c756a1;
}
.change-buttons button:hover {
    background: #4eda24;
        }